{% extends 'AppBlog/padre.html' %}

{% load static %}

{%block Header%}
    <header class="masthead" style="background-image: url({%static 'AppBlog/assets/img/inicio.jpg' %})">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>Galerías de arte</h1>
                        <span class="subheading"> El grupo está conformado por Candelaria Sánchez, Daniel Salas y Bryan Crauce.</p>
                            
                            El proyecto trata de una centralización de galerías que busca agrupar y asociar artistas, sus obras y las galerías donde exponen. 
                            Se puede crear usuarios de modo que permita ingresar los datos antes mencionados y que los muestre en forma de blog.</p>
                            
                            Con 25 años, la crítica define a Cande como la máxima referente audiovisual en Latinoamérica.</p> 
                            Daniel es compositor musical y un gran apasionado por el arte. Tiene 28 años</p>
                            Bryan es un estudiante de ingeniería en computación. Tiene 25 años.</p>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header> 
{%endblock%}

