{% extends 'AppBlog/padre.html' %}

{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h3>gracias por visitarnos!!</h3>
    <a href="{% url 'login' %}">Loguearse de vuelta</a>


</body>
</html> {% endcomment %}





 {% load static %}

 {%block Header%} 
    <header class="masthead" style="background-image: url({%static 'AppBlog/assets/img/login.jpeg' %})">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>HASTA LA PROXIMA</h1>
                        <span class="subheading">Gracias por visitarnos</span>


                    
                        <a href="{% url 'login' %}">Volver a ingresar</a>
                    
                    {% endblock %}
                    {%block OlderPosts%}
                    {% endblock %} 
                         
